.PaymentForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px 15px;

  > div {
    flex: auto;
    margin-bottom: 10px;

    p { margin: 0 }
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
  }
}
