.CirclePage__header {
  display: flex;
  justify-content: space-between;

  h3 { margin: 10px 0 }
}

.CirclePage__budget__header {
  h3 { margin-bottom: 0 }
}

.CirclePage__budget__table {
  margin: 20px 0;
}
