.CirclePage__header {
  display: flex;
  justify-content: space-between;

  h3 { margin: 10px 0 }
}

.CirclePage__budget__header {
  display: flex;

  h3 {
    display: inline-block;
    margin-bottom: 0;
  }
  &__edit {
    align-self: flex-end;
  }
}

.CirclePage__budget__table {
  margin: 20px 0;
}
