.mdl-button.programs__action {
  $button-height: 280px;
  height: $button-height;
  padding: 0;
  border: 1px solid $color-grey-border;

  i, span {
    display: block;
    position: absolute;
    width: 100%;
  }

  i {
    $font-size: 120px;
    top: calc(#{$button-height} / 6);
    font-size: $font-size;
  }

  span {
    bottom: 0;
    font-size: 22px;
  }
}
