.Program {
  display: flex;
  flex-direction: column;

  &__title {
    float: left;
    margin: 0 0 10px;
  }

  &__edit {
    float: right;
  }

  &__infos {
    clear: both;
    float: left;
  }

  &__outcome {
    th {
      text-align: center;
    }
    td {
      text-align: left;
    }
    th, td {
      min-width: 100px;
    }
  }
}
