<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="976520229359-f2v2c0th5uoa1nd7p1aiij364tjp7uqj.apps.googleusercontent.com">

  <title>EMS - PGP</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>

  <script src="https://apis.google.com/js/platform.js" ></script>
</head>
<body>

  <div id="react-app"></div>
  <script src="{{ url_for('static', filename='bundle.js') }}"></script>

</body>
</html>
