<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id"
        content="976520229359-f2v2c0th5uoa1nd7p1aiij364tjp7uqj.apps.googleusercontent.com">
  <script src="//apis.google.com/js/platform.js"></script>

  <title>EMS - PGP - Login Page</title>

  <style>
    .login-page {
      height: 100vh;
    }

    .login-page #google-sign-in {
      position: absolute;
      top: calc(50% - 55px / 2);
      left: calc(50% - 260px / 2);
    }
  </style>

</head>
<body>
<div class="mdl-color--grey-100 login-page">
  <div id="google-sign-in"></div>
</div>

<script>
    "use strict";

    gapi.signin2.render('google-sign-in', {
        scope: 'email',
        width: 260,
        height: 55,
        longtitle: true,
        onsuccess(googleUser) {
            const email = googleUser.getBasicProfile().getEmail();
            const token = googleUser.getAuthResponse().id_token;
            sendAuthTokenToServer(email, token);
        },
        onfailure(response) {
            console.error(response);
            const errorHumanized = response.error.split('_').join(' ').capitalize();
            alert(errorHumanized);
        }
    });

    function sendAuthTokenToServer(email, token) {
        const fetchOptions = {
            method: 'POST',
            mode: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, token})
        };

        fetch('/auth/login', fetchOptions)
            .then(response => {
                if (response.status === 200) location.pathname = '';
            })
            .catch(response => {
                console.error(response);
                alert('There was an error while your authentication. ' +
                    'Ask your IT department to verify that you are using the correct email.');
            });
    }

</script>

</body>
</html>
